link(rel='stylesheet', href='/stylesheets/firsttime-style.css')
#first-time
//- .active
    .overlay
        .close-overlay
            p Close
        .slideshow
            .slide
                .top
                    
                .bottom
                    
        
